<IfModule mod_rewrite.c>
RewriteEngine on
Options -Indexes
 
# Rewrite URLs of the form 'index.php?r=x'. 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /index.php [L,QSA]
#RewriteCond %{HTTP_HOST} ^www\.(([a-z0-9_]+\.)?anvyinc\.com)$ [NC]
#RewriteRule .? http://%1%{REQUEST_URI} [R=301,L]
#DirectoryIndex index.html index.php
RewriteRule ^login/$ index.php?a=LI
RewriteRule ^login$ index.php?a=LI
RewriteRule ^login/error$ index.php?a=LI&txt_error=1
RewriteRule ^login/error/$ index.php?a=LI&txt_error=1

RewriteRule ^logout.html$ index.php?a=LO
RewriteRule ^logout.html/$ index.php?a=LO
RewriteRule ^setting.html$ index.php?a=ACC&txt_user_type=0&acc=CONF
RewriteRule ^setting.html/$ index.php?a=ACC&txt_user_type=0&acc=CONF

RewriteRule ^account$ index.php?a=ACC
RewriteRule ^account/$ index.php?a=ACC

RewriteRule ^catalogue/order$ index.php?a=ACC&acc=CAOR&txt_user_type=2
RewriteRule ^catalogue/order/$ index.php?a=ACC&acc=CAOR&txt_user_type=2
RewriteRule ^catalogue/([0-9]+)/info$ index.php?a=ACC&acc=INFO&txt_user_type=2&txt_product_id=$1
RewriteRule ^catalogue/([0-9]+)/info/$ index.php?a=ACC&acc=INFO&txt_user_type=2&txt_product_id=$1
RewriteRule ^catalogue/$ index.php?a=ACC&acc=CAT&txt_user_type=2
RewriteRule ^catalogue$ index.php?a=ACC&acc=CAT&txt_user_type=2
RewriteRule ^catalogue/page([0-9]+)/$ index.php?a=ACC&acc=CAT&txt_user_type=2&txt_page=$1
RewriteRule ^catalogue/page([0-9]+)$ index.php?a=ACC&acc=CAT&txt_user_type=2&txt_page=$1

RewriteRule ^support/$ index.php?a=ACC&acc=SUPPORT&txt_user_type=2
RewriteRule ^support$ index.php?a=ACC&acc=SUPPORT&txt_user_type=2

RewriteRule ^order/update/$ index.php?a=ACC&acc=ORDER&order=UP&txt_user_type=2
RewriteRule ^order/update$ index.php?a=ACC&acc=ORDER&order=UP&txt_user_type=2
RewriteRule ^order/disapprove$ index.php?a=ACC&acc=ORDER&order=DIS&txt_user_type=2
RewriteRule ^order/disapprove/$ index.php?a=ACC&acc=ORDER&order=DIS&txt_user_type=2

RewriteRule ^order/upload/$ index.php?a=ACC&acc=ORDER&order=UPL&txt_user_type=2
RewriteRule ^order/upload$ index.php?a=ACC&acc=ORDER&order=UPL&txt_user_type=2
RewriteRule ^order/create/$ index.php?a=ACC&acc=ORDER&order=CRE&txt_user_type=2
RewriteRule ^order/create$ index.php?a=ACC&acc=ORDER&order=CRE&txt_user_type=2
RewriteRule ^order/create/new$ index.php?a=ACC&acc=ORDER&order=NEW&txt_user_type=2
RewriteRule ^order/create/new/$ index.php?a=ACC&acc=ORDER&order=NEW&txt_user_type=2
RewriteRule ^order/([0-9]+)/edit/$ index.php?a=ACC&acc=ORDER&order=EDIT&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/edit$ index.php?a=ACC&acc=ORDER&order=EDIT&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/view/$ index.php?a=ACC&acc=ORDER&order=VIEW&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/view$ index.php?a=ACC&acc=ORDER&order=VIEW&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/delete/$ index.php?a=ACC&acc=ORDER&order=DE&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/delete$ index.php?a=ACC&acc=ORDER&order=DE&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/reorder/$ index.php?a=ACC&acc=ORDER&order=ROR&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/reorder$ index.php?a=ACC&acc=ORDER&order=ROR&txt_user_type=2&txt_order=$1
RewriteRule ^order/page([0-9]+)$ index.php?a=ACC&acc=ORDER&txt_user_type=2&txt_page=$1
RewriteRule ^order/page([0-9]+)/$ index.php?a=ACC&acc=ORDER&txt_user_type=2&txt_page=$1
RewriteRule ^order/$ index.php?a=ACC&acc=ORDER&txt_user_type=2
RewriteRule ^order$ index.php?a=ACC&acc=ORDER&txt_user_type=2
RewriteRule ^error/$ index.php?a=ACC&acc=ERROR&txt_user_type=2
RewriteRule ^error$ index.php?a=ACC&acc=ERROR&txt_user_type=2

RewriteRule ^shipping/page([0-9]+)$ index.php?a=ACC&acc=SHIP&txt_user_type=2&txt_page=$1
RewriteRule ^shipping/page([0-9]+)/$ index.php?a=ACC&acc=SHIP&txt_user_type=2&txt_page=$1
RewriteRule ^shipping/([0-9]+)/view/$ index.php?a=ACC&acc=SHIP&ship=VIEW&txt_user_type=2&txt_ship_id=$1
RewriteRule ^shipping/([0-9]+)/view$ index.php?a=ACC&acc=SHIP&ship=VIEW&txt_user_type=2&txt_ship_id=$1
RewriteRule ^shipping/([a-zA-Z0-9\-\/]+)/tracking/$ index.php?a=ACC&acc=SHIP&ship=TRACK&txt_user_type=2&txt_tracking_number=$1
RewriteRule ^shipping/([a-zA-Z0-9\-\/]+)/tracking$ index.php?a=ACC&acc=SHIP&ship=TRACK&txt_user_type=2&txt_tracking_number=$1
RewriteRule ^shipping/$ index.php?a=ACC&acc=SHIP&txt_user_type=2
RewriteRule ^shipping$ index.php?a=ACC&acc=SHIP&txt_user_type=2

RewriteRule ^signage_layout/([0-9]+)/view/$ index.php?a=ACC&acc=SIGN&txt_user_type=2&txt_image_id=$1&sign=V
RewriteRule ^signage_layout/([0-9]+)/view$ index.php?a=ACC&acc=SIGN&txt_user_type=2&txt_image_id=$1&sign=V
RewriteRule ^signage_layout/$ index.php?a=ACC&acc=SIGN&txt_user_type=2
RewriteRule ^signage_layout$ index.php?a=ACC&acc=SIGN&txt_user_type=2

RewriteRule ^support.html/$ index.php?a=ACC&acc=SUPPORT&txt_user_type=2
RewriteRule ^support.html$ index.php?a=ACC&acc=SUPPORT&txt_user_type=2

RewriteRule ^order/([0-9]+)/item/([0-9]+)$ index.php?a=ACC&acc=ITEM&item=EDIT&txt_item=$2&txt_user_type=2&txt_order=$1
RewriteRule ^order/([0-9]+)/allocation/([0-9]+)/([0-9]+)/$ index.php?a=ACC&acc=ALLOCATION&allocation=EDIT&txt_product_id=$3&txt_item=$2&txt_user_type=2&txt_order=$1

RewriteRule ^customer/$ index.php?a=ACC&txt_user_type=2
RewriteRule ^customer$ index.php?a=ACC&txt_user_type=2

RewriteRule ^admin/$ index.php?a=ACC&txt_user_type=0
RewriteRule ^admin$ index.php?a=ACC&txt_user_type=0

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/shipping$ index.php?a=ACC&txt_user_type=0&key=$1&act=SHP&id=$2
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/shipping/$ index.php?a=ACC&txt_user_type=0&key=$1&act=SHP&id=$2

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/tracking$ index.php?a=ACC&txt_user_type=0&key=$1&act=TNU&id=$2
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/tracking/$ index.php?a=ACC&txt_user_type=0&key=$1&act=TNU&id=$2

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/print index.php?a=ACC&txt_user_type=0&key=$1&act=PRI&id=$2
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/print/$ index.php?a=ACC&txt_user_type=0&key=$1&act=PRI&id=$2

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/view index.php?a=ACC&txt_user_type=0&key=$1&act=V&id=$2
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/view/$ index.php?a=ACC&txt_user_type=0&key=$1&act=V&id=$2
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/edit$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=E
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/edit/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=E

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/delete$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=D
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/delete/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=D

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/details index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=SH
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/details/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=SH

#Product
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/exclude$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=EXL
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/exclude/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=EXL

RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/threshold$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=THR
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/threshold/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=THR

#Signage Layout
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/upload$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=UL
RewriteRule ^admin/([a-z\-\/]+)/([0-9]+)/upload/$ index.php?a=ACC&txt_user_type=0&key=$1&id=$2&act=UL


RewriteRule ^admin/([a-z\-\/]+)/ajax$ index.php?a=ACC&txt_user_type=0&key=$1&act=AJ
RewriteRule ^admin/([a-z\-\/]+)/ajax/$ index.php?a=ACC&txt_user_type=0&key=$1&act=AJ
RewriteRule ^admin/([a-z\-\/]+)/add$ index.php?a=ACC&txt_user_type=0&key=$1&act=N
RewriteRule ^admin/([a-z\-\/]+)/add/$ index.php?a=ACC&txt_user_type=0&key=$1&act=N
RewriteRule ^admin/([a-z\-\/]+)/print$ index.php?a=ACC&txt_user_type=0&key=$1&act=P
RewriteRule ^admin/([a-z\-\/]+)/print/$ index.php?a=ACC&txt_user_type=0&key=$1&act=P
RewriteRule ^admin/([a-z\-\/]+)/export$ index.php?a=ACC&txt_user_type=0&key=$1&act=X
RewriteRule ^admin/([a-z\-\/]+)/export/$ index.php?a=ACC&txt_user_type=0&key=$1&act=X
RewriteRule ^admin/([a-z\-\/]+)/json$ index.php?a=ACC&txt_user_type=0&key=$1&act=J
RewriteRule ^admin/([a-z\-\/]+)/json/$ index.php?a=ACC&txt_user_type=0&key=$1&act=J


RewriteRule ^admin/([a-z\-\/]+) index.php?a=ACC&txt_user_type=0&key=$1&act=L
RewriteRule ^admin/([a-z\-\/]+)/$ index.php?a=ACC&txt_user_type=0&key=$1&act=L

RewriteRule ^admin/([a-z\-\/]+)$ index.php?a=ACC&txt_user_type=0&key=$1
RewriteRule ^admin/([a-z\-\/]+)/$ index.php?a=ACC&txt_user_type=0&key=$1

</IfModule>